<!DOCTYPE html>
<html lang="es"></html>
    <head>
        <link href="./css/main.css" rel="stylesheet" />
        <title>HOME</title>
        <meta charset ="UTF-8">
        <link rel="shortcut icon" href="./images/favicon-32x32.png" type="images/png"/>

    </head>
    <body>
        <header class="hero" id="Inicio">
            <nav class="nav container">
                <a href="#">
                    <img src="./images/Logo.png" alt="las3m" class="Logo">
                </a>
    
                <ul class="nav__link nav__link--menu">
                    <li class="nav__items">
                        <a href="#Inicio" class="nav__links">Inicio</a>
                    </li>
                    <li class="nav__items">
                        <a href="#servicios" class="nav__links">Servicios</a>
                    </li>
                    <li class="nav__items">
                        <a href="#taxis" class="nav__links">Taxis</a>
                    </li>
                    <li class="nav__items">
                        <a href="#clientes" class="nav__links">Clientes</a>
                    </li>
                    <li class="nav__items">
                        <a href="#conocenos" class="nav__links">Conocenos</a>
                    </li>
                    <li class="nav__items">
                        <a href="#preguntas" class="nav__links">Preguntas</a>
                    </li>
                    <li class="nav__items">
                        <a href="#" class="nav__links">Salir</a>
                    </li>
    
                    <img src="./images/bx-x-circle.svg" class="nav__close">
                </ul>
    
                <div class="nav__menu">
                    <img src="./images/bx-menu.svg" class="nav__img">
                </div>
            </nav>
            <section class="hero__container container">
       
                <h1 class="hero__title">SERVICIO DE TRANSPORTE Y TURISMOS LAS 3 M</h1>
                <p class="hero__paragraph">Nos enorgullece ofrecer una experiencia de viaje excepcional para nuestros clientes, combinando un 
                    servicio de transporte seguro y confiable con un enfoque en la exploración turística.¡Viaja con nosotros y descubre todo lo que tenemos para ofrecer!</p>
                <a href="#servicios" class="cta">CONOCENOS</a>
            </section>
            
        </header>

        <main>
            <section class="container about" id="servicios">
                <h2 class="subtitle">¿Qué ofrecemos en nuestro servicios?</h2>
                <p class="about__paragraph">Contamos con tres servicios principales para nuestro clientes: Servicio de taxis, servicio de envio de 
                encomiendas y servicio de sitios de interes todo desde la comodidad de esta pagina web, sin descargas y sin ocupar espacio en tu telefono.</p>

                <div class="about__main">
                    <article class="about__icons">
                        <img src="./images/bx-taxi.svg" class="about__icon">
                        <h3 class="about__title"> Servicio de Taxi</h3>
                        <p class="about__paragraph">Nuestro servicio de taxi se dedica a proporcionar traslados rápidos, seguros y cómodos a nuestros clientes. 
                            Contamos con una variedad de vehículos modernos, el cliente debera proporcionar datos personales y compartirnos su ubicación, así mismo 
                            especificar el lugar y destinos de llegada todo esto para brindar un excelente servicio.  </p>
                            <a href="#" class="cta1"> PIDELO YA</a>
                            <img src="./images/SerT.jpeg" class="imagen">
                            
                    </article>
                    <article class="about__icons">
                        <img src="./images/bxs-package.svg" class="about__icon">
                        <h3 class="about__title"> Envio de encomiendas</h3>
                        <p class="about__paragraph">Nuestro servicio de envío de encomiendas ofrece soluciones confiables y seguras para transportar sus paquetes. Contamos con un equipo 
                            profesional, opciones flexibles de envío y medidas de seguridad. Nos enfocamos en entregar sus encomiendas de manera puntual y en perfectas 
                            condiciones. Confíe en nosotros para un servicio eficiente y satisfactorio.  </p>
                            <a href="#" class="cta2"> PIDELO YA</a>
                            <img src="./images/Encomiendas.png" class="imagen2">
                            
                    </article>
                    <article class="about__icons">
                        <img src="./images/bx-been-here.svg" class="about__icon">
                        <h3 class="about__title"> Sitios de interes</h3>
                        <p class="about__paragraph">Nuestro servicio de sitios de interés ofrece información detallada y entretenida sobre los sitios más facinantes y representativos
                            de cada lugar.Nos comprometemos a hacer de su experiencia turística una experiencia única y memorable. Únase a nosotros y descubra los lugares más destacados.   </p>
                            <a href="#" class="cta3"> PIDELO YA</a>
                            <img src="./images/SitiosInteres.png" class="imagen3">
                            
                    </article>
                </div>   
            </section>

            
            <section class="taxist" id="taxis">
                <h2 class="subtitle__2"> CONOCE NUESTROS TIPOS DE TAXIS </h2>
                <div class="taxist__container container">
                    <img src="./images/bx-left-arrow-alt.svg" class="taxist__arrowl" id="before">
    
                    <section class="taxist__body taxist__body--show" data-id="1">
                        <div class="taxist__texts">
                            <h2 class="subtitle"> TAXI ESTANDAR <span class="taxist__course"> Taxis comunes para cualquier tipo de viaje</span></h2>
                            <p class="taxist__review">vehículo especialmente diseñado y equipado para 
                                brindar servicios de transporte público individual en áreas urbanas. Se caracteriza por su 
                                tamaño moderado y capacidad para acomodar a un número limitado de pasajeros, generalmente entre cuatro y
                                 cinco, incluido el conductor.</p>
                        </div>
    
                        <figure class="taxist__picture">
                            <img src="./images/TaxiEs.jpeg" class="taxist__img">
                        </figure>
                    </section>
    
                    <section class="taxist__body" data-id="2">
                        <div class="taxist__texts">
                            <h2 class="subtitle"> TAXI PREMIUM <span class="taxist__course"> Taxis lujosos para una mejor experiencia de viaje</span></h2>
                            <p class="taxist__review">Un taxi premium es una opción de transporte exclusiva y de alta gama para aquellos pasajeros que 
                                buscan una experiencia de viaje superior. Estos vehículos se distinguen por su elegante diseño y comodidad excepcional, proporcionando un ambiente lujoso y sofisticado. </p>
                        </div>
    
                        <figure class="taxist__picture">
                            <img src="./images/TaxiP.jpeg" class="taxist__img">
                        </figure>
                    </section>
    
                    <section class="taxist__body" data-id="3">
                        <div class="taxist__texts">
                            <h2 class="subtitle"> TAXI GENERO  <span class="taxist__course"> Taxis más seguros para mujeres</span></h2>
                            <p class="taxist__review">Un taxi de género es una opción de transporte que se ha desarrollado para atender específicamente las
                                 necesidades y preferencias de los pasajeros en términos de género. Estos taxis están diseñados para ofrecer una experiencia 
                                 de viaje cómoda y segura, especialmente para aquellos pasajeros que puedan sentirse más seguros o preferir viajar con un 
                                 conductor del mismo género.</p>
                        </div>
    
                        <figure class="taxist__picture">
                            <img src="./images/TaxiG.jpeg" class="taxist__img">
                        </figure>
                    </section>
    
                        <img src="./images/bx-right-arrow-alt.svg" class="taxist__arrowr" id="next">
                </div>
            </section>

            <section class="tipoc container" id="clientes">
                <h2 class="subtitle"> CONOCE NUESTROS TIPOS DE CLIENTES </h2>
                
                <div class="tipo__table">
                    <div class="tipo__element">
                        <p class="plan__name"> Cliente Normal</p>
                        <h3 class="plan__price"> FREE</h3>
                        <div class="plan__items">

                            <p class="plan__feature"> Servicio Taxis</p>
                            <p class="plan__feature"> Servicio envio encomiendas</p>
                            <p class="plan__feature"> Servicio sitios de interes</p>   
                        </div>  
                        <a href="#" class="plan__cta"> Empieza Ahora</a>
                    
                    </div>

                    <div class="tipo__element tipo__element--best">
                        <p class="plan__name"> Cliente Preferencial</p>
                        <h3 class="plan__price"> $30.000/mes</h3>
                        <div class="plan__items">

                            <p class="plan__feature"> Servicio Taxis</p>
                            <p class="plan__feature"> Servicio envio encomiendas</p>
                            <p class="plan__feature"> Servicio sitios de interes</p>
                            <p class="plan__feature"> Descuentos en los diferentes</p>
                            
                            <a href="#" class="plan__cta"> Empieza Ahora</a>
                        </div>
                </div>
            </section>
            <section class="testimony" id="conocenos">
                <div class="testimony__container container">
                    <img src="./images/bx-left-arrow-alt.svg" class="testimony__arrowl" id="antes">
    
                    <section class="testimony__body testimony__body--show" data-id="1">
                        <div class="testimony__texts">
                            <h2 class="subtitle"> WILLIAM MANTILLA <span class="testimony__course"> Estudiante
                                de Ingenieria de sistemas UNAB.</span></h2>
                            <p class="testimony__review">Somos un equipo de estudiantes de Ingenieria de sistemas de sexto semestre y desarrollamos esta increible 
                                pagina web en donde ofrecemos 3 excelentes serivicios a nuestros clientes con una variedad de experiencias y buenas ideas, todo para 
                                la satisfaccion de nuestros usuarios.</p>
                        </div>
    
                        <figure class="testimony__picture">
                            <img src="./images/Wiliimg.jpeg" class="testimony__img">
                        </figure>
                    </section>
    
                    <section class="testimony__body" data-id="2">
                        <div class="testimony__texts">
                            <h2 class="subtitle"> MARIA FERNANDA MORENO <span class="testimony__course"> Estudiante de
                                Ingenieria de sistemas UNAB.</span></h2>
                            <p class="testimony__review">Somos un equipo de estudiantes de Ingenieria de sistemas de sexto semestre y desarrollamos esta increible 
                                pagina web en donde ofrecemos 3 excelentes serivicios a nuestros clientes con una variedad de experiencias y buenas ideas, todo para 
                                la satisfaccion de nuestros usuarios. </p>
                        </div>
    
                        <figure class="testimony__picture">
                            <img src="./images/ferimg (2).jpeg" class="testimony__img">
                        </figure>
                    </section>
    
                    <section class="testimony__body" data-id="3">
                        <div class="testimony__texts">
                            <h2 class="subtitle"> LUDWING ANDRES PEÑA  <span class="testimony__course"> Estudiante de
                                Ingenieria de sistemas UNAB.</span></h2>
                            <p class="testimony__review">Somos un equipo de estudiantes de Ingenieria de sistemas de sexto semestre y desarrollamos esta increible 
                                pagina web en donde ofrecemos 3 excelentes serivicios a nuestros clientes con una variedad de experiencias y buenas ideas, todo para 
                                la satisfaccion de nuestros usuarios.</p>
                        </div>
    
                        <figure class="testimony__picture">
                            <img src="./images/Andrimg.jpeg" class="testimony__img">
                        </figure>
                    </section>
    
                    <img src="./images/bx-right-arrow-alt.svg" class="testimony__arrowr" id="despues">
                </div>
            </section>

            <section class="questions container" id="preguntas">
                <h2 class="subtitle">Preguntas frecuentes</h2>
                <p class="questions__paragraph">Estas son alguna de las preguntas más frecuentes que pueden llegar a tener nuestro clientes y nosotros 
                    estamos dispuestos a responderlas para mayor clariedad en las inquietudes.
                </p>
    
                <section class="questions__container">
                    <article class="questions__padding">
                        <div class="questions__answer">
                            <h3 class="questions__title">¿Cómo puedo solicitar un taxi?
                                <span class="questions__arrow">
                                    <img src="./images/bx-chevron-up.svg" class="questions__img">
                                </span>
                            </h3>
    
                            <p class="question__show"> Nuestro servicio de solicitud de taxis es la forma más conveniente y rápida de viajar. 
                                A través de nuestra pagina web, podrás solicitar un taxi en cualquier momento y lugar con solo unos pocos 
                                toques en tu teléfono. Olvídate de esperar en la calle o llamar a una central, con nuestra pagina, encontrarás 
                                un taxi disponible cerca de ti de manera instantánea. Además, podrás ver la información del conductor, el tiempo estimado de llegada y el costo del viaje antes de confirmar la solicitud. 
                                Viaja de manera segura, cómoda y sin complicaciones con nuestro servicio de solicitud de taxis.</p>
                        </div>
                    </article>
    
                    <article class="questions__padding">
                        <div class="questions__answer">
                            <h3 class="questions__title">¿Qué tipos de vehículos ofrecemos?
                                <span class="questions__arrow">
                                    <img src="./images/bx-chevron-up.svg" class="questions__img">
                                </span>
                            </h3>
    
                            <p class="question__show">Al solicitar un taxi a través de nuestra plataforma, podrás seleccionar el tipo de vehículo que mejor se ajuste a tus necesidades y preferencias. 
                                Nuestro objetivo es brindarte opciones para que disfrutes de un viaje cómodo y seguro, sin importar tus requerimientos particulares.
                                Automóviles estándar: Ideales para viajes individuales o en parejas, ofrecen comodidad y eficiencia en la movilidad urbana.

                                Vehículos de lujo: Si buscas un viaje más exclusivo y confortable, contamos con una selección de vehículos de gama alta que te brindarán una experiencia premium.

                                Vehículos para grupos grandes: Si viajas en un grupo numeroso o necesitas espacio adicional, contamos con vehículos de mayor capacidad, como vans o minibuses, para asegurar que todos viajen juntos y cómodamente.

                                Vehículos adaptados: Nos preocupamos por la accesibilidad de todos nuestros usuarios. Por eso, también ofrecemos vehículos adaptados para personas con movilidad reducida, equipados con las facilidades necesarias.
                            </p>
                        </div>
                    </article>
    
                    <article class="questions__padding">
                        <div class="questions__answer">
                            <h3 class="questions__title">¿Cómo se calcula el costo de un viaje en taxi?
                                <span class="questions__arrow">
                                    <img src="./images/bx-chevron-up.svg" class="questions__img">
                                </span>
                            </h3>
                            <p class="question__show"> El costo de un viaje en taxi se calcula en base a varios factores, incluyendo la distancia recorrida y el tiempo estimado del trayecto. En nuestra plataforma, utilizamos un sistema de tarifas establecido para garantizar la transparencia y equidad en los precios.
                                Al solicitar un taxi a través de nuestra página web, la aplicación automáticamente calculará el costo estimado del viaje en función de la distancia y el tiempo estimado proporcionados por nuestro sistema de navegación. 
                                Este cálculo toma en cuenta variables como las tarifas base, la tarifa por kilómetro o milla recorrida y la tarifa por minuto de viaje.</p>
                        </div>
                    </article>
                </section>
    
                <section class="questions__offer">
                    <h2 class="subtitle">¿Estas listo para unirte a nuestro servicio?</h2>
                    <p class="questions__copy">Estamos emocionados de recibirte en nuestro servicio. Nuestro equipo está preparado y listo para 
                        brindarte una experiencia excepcional. Al unirte a nuestro servicio, tendrás acceso a una amplia gama de beneficios y 
                        comodidades. Desde una plataforma fácil de usar hasta un servicio confiable y eficiente, estamos comprometidos a satisfacer 
                        tus necesidades y superar tus expectativas. Estamos ansiosos por tener la oportunidad de servirte y proporcionarte un 
                        servicio de calidad. ¡Únete a nosotros y experimenta la excelencia en primera persona!</p>
                    <a href="#" class="questions__cta"> Empieza ahora</a>
                </section>
            </section>
        </main>

        <footer class="footer">
            <section class="footer__container container">
                <nav class="nav__footer nav--footer">
                    <h2 class="footer__title">SERVICIOS LAS 3M</h2>
    
                    <ul class="nav__link nav__link--footer">
                        <li class="nav__items">
                            <a href="#Inicio" class="nav__linksf">Inicio</a>
                        </li>
                        <li class="nav__items">
                            <a href="#servicios" class="nav__linksf">Servicios </a>
                        </li>
                        <li class="nav__items">
                            <a href="#taxis" class="nav__linksf">Taxis</a>
                        </li>
                        <li class="nav__items">
                            <a href="#" class="nav__linksf">Cuenta </a>
                        </li>
                    </ul>
                </nav>
    
                <form class="footer__form" action="https://formspree.io/f/xrgvveeb"
                    method="POST">
                    <h2 class="footer__newsletter">Suscribete gratis</h2>
                    <div class="footer__inputs">
                        <input type="email" placeholder="Email:" class="footer__input"  name="email">
                        <input type="submit" value="Registrarse" class="footer__submit">
                    </div>
                </form>
            </section>
    
            <section class="footer__copy container">
                <div class="footer__social">
                    <a href="#" class="footer__icons"><img src="./images/bxl-facebook-circle.svg" class="footer__img"></a>
                    <a href="#" class="footer__icons"><img src="./images/bxl-twitter.svg" class="footer__img"></a>
                    <a href="#" class="footer__icons"><img src="./images/bxl-instagram-alt.svg" class="footer__img"></a>
                </div>
    
            </section>
        </footer>
    
        <script src="./Js/conocenoss.js"></script>
        <script src="./js/questions.js"></script>
        <script src="./Js/slider2.js"></script>
    </body>
</html>