* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v54_310 {
  width: 100%;
  height: 1117px;
  background: rgba(115,115,115,0.9200000166893005);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v54_311 {
  width: 100%;
  height: 127px;
  background: rgba(229,205,76,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 1px;
  overflow: hidden;
}
.v54_312 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 52px;
  left: 154px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.v54_318 {
  width: 553px;
  height: 517px;
  background: url("../images/v54_318.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 292px;
  left: 12px;
  overflow: hidden;
}
.v54_319 {
  width: 439px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 791px;
  left: 105px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v54_320 {
  width: 560px;
  height: 449px;
  background: url("../images/v54_320.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 333px;
  left: 597px;
  overflow: hidden;
}
.v54_321 {
  width: 612px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 796px;
  left: 572px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v54_325 {
  width: 600px;
  height: 545px;
  background: url("../images/v54_325.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 246px;
  left: 1174px;
  overflow: hidden;
}
.v54_326 {
  width: 378px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 794px;
  left: 1286px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v54_332 {
  width: 120px;
  height: 109px;
  background: url("../images/v54_332.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 269px;
  left: 1647px;
  overflow: hidden;
}
.v65_314 {
  width: 100%;
  height: 355px;
  background: url("../images/v65_314.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 822px;
  left: 0px;
  overflow: hidden;
}
