<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=ABeeZee&display=swap" rel="stylesheet" />
    <link href="./static/css/mainContacto.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v68_321">
        <div class="v68_322"></div><span class="v68_323">CONOCENOS</span>
        <div class="v68_334"></div><span class="v68_335">Universidad Autonoma de Bucaramanga </span><span
            class="v68_337">Desarolladores:
            Maria Fernanda Moreno Sanchez
            William Andres Mantilla Muñoz
            Ludwing Andres Peña Moreno

            Contacto, dudas y sugerencias:
            Losclutcheadores’Che’@hotmail.com
        </span>
        <div class="v67_295"></div>
    </div>
</body>

</html>