<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=ABeeZee&display=swap" rel="stylesheet" />
    <link href="./static/css/mainMostrarTaxis.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v54_333">
        <div class="v65_299"></div>
        <div class="v65_302"></div>
        <div class="v65_319"></div>
        <div class="name"></div>
        <div class="name"></div><span class="v65_304"> contamos con distintos tipos de taxis y experiencias.</span><span
            class="v65_305">Estandar</span><span class="v65_317">premium</span><span class="v65_320">Equidad de
            genero</span><span class="v65_309">TIPOS DE TAXIS DISPONIBLES</span>
        <div class="v65_312"></div>
        <div class="v65_316"></div>
    </div>
</body>

</html>