<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=ABeeZee&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet" />
    <link href="./static/css/mainHome.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v45_348">
        <div class="v67_293"></div>
        <div class="v45_423">
            <div class="v45_394"></div>
            <div class="v45_395"></div>
            <div class="v45_396"></div>
            <div class="v45_401"></div><span class="v45_402">Servicios</span>
            <div class="v45_403"></div><span class="v45_404">Taxis</span>
            <div class="v45_405"></div><span class="v45_406">Conocenos</span>
            <div class="v45_412"></div><span class="v45_400">Inicio</span><span class="v45_408">Configuracion</span>
            <div class="v45_409"></div><span class="v45_410">Salir</span>
            <div class="v45_411"></div>
            <div class="v54_309"></div>
            <div class="v54_303"></div>
            <div class="v54_301"></div>
            <div class="v45_500"></div><span class="v51_295">Nos enorgullece ofrecer una experiencia de viaje
                excepcional para nuestros clientes, combinando un servicio de transporte seguro y confiable con un
                enfoque en la exploración turística.¡ViajA con nosotros y descubrE todo lo que tienemos para
                ofrecer!</span><span class="v45_442">SERVICIO DE TRANSPORTE Y TURISMOS LAS 3 M</span>
            <div class="v65_294"></div>
            <div class="v65_298"></div><span class="v45_499">CONOCENOS</span>
        </div>
    </div>
</body>

</html>