<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=ABeeZee&display=swap" rel="stylesheet" />
    <link href="./static/css/mainLogin2.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v41_486">
        <div class="v67_294"></div>
        <div class="v41_533">
            <div class="v41_519"></div>
            <div class="v41_520">
                <div class="v41_521"></div><span class="v41_522">Contraseña</span>
            </div><span class="v41_523">Registrar</span><span class="v41_524">Iniciar Sesión</span>
            <div class="v41_525"></div>
            <div class="v41_526"></div>
            <div class="v41_527">
                <div class="v41_528"></div><span class="v41_529">Nombre</span>
            </div>
            <div class="v41_530">
                <div class="v41_531"></div><span class="v41_532">Ingresar</span>
            </div>
        </div>
    </div>
</body>

</html>