.Logo{
    width: 80px;
    height: 80px;
    background-color: #e0cb85;
    border-radius: 50%;
    margin-right: 50px;
}
:root {
    --padding-container: auto 0;
    --color-title: #001a49; 
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../images/Artboard.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
    
}


.nav__link {
    margin-left: auto;
    padding: 0;
    display: flex;
    gap: 2em;
    
}

.nav__link li a:hover {
    background:#b1ac5b;
    color:#000000;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}


.nav__close {
    display: var(--show, none);
}


.hero__container{
    max-width: 880px;
    display: grid;
    --padding-container: 0;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 145px;
    text-align: center;

}

.hero__title{
    font-size: 3rem;

}

.hero__paragraph{
    margin-bottom: 20px;
    font-size: 1.1rem;
    font-weight: bold;
}

.cta{
    display: inline-block;
    background-color: #303030;
    justify-self: center;
    color: #ffff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

.about{
    text-align: center;
}

.subtitle{
    color: var(--color-title);
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.about__paragraph{
    line-height: 1.5;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
    
}

.about__main{
    padding-top: 30px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px,auto));
}

.about__icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: auto;
}

.about__icon{
    width: 40px;
}
.imagen{
   
    width: 200px;
    height: 170px;
    display: block;
    padding-left: 20%;
    
}
.imagen2{
    
    width: 200px;
    height: 200px;
    display: block;
    padding-left: 20%;

}

.imagen3{
    
    width: 200px;
    height: 200px;
    display: block;
    padding-left: 20%;
    
}

.subtitle_2{
    justify-items: center;
}

.cta1{
    display: inline-block;
    background-color: #303030;
    justify-self: center;
    color: #ffff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
    margin-top: 10px;
    
      
}

.cta2{
    display: inline-block;
    background-color: #303030;
    justify-self: center;
    color: #ffff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
    margin-top: 10px;
}

.cta3{
    display: inline-block;
    background-color: #303030;
    justify-self: center;
    color: #ffff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
    margin-top: 25px;
    
}

.cta4{
    display: inline-block;
    background-color: #303030;
    justify-self: center;
    color: #ffff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

.subtitle__2{
    font-size: 2rem;
    text-align: center;
}

.tipoc {
    text-align: center;
}

.tipo__table{
    padding-top: 10px;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-evenly;
    align-items: center;
}

.tipo__element{
    background-color: #cdcdec;
    text-align: center;
    border-radius: 10px;
    width: 300px;
    padding: 30px;
    --color-plan: #696871;
    --color-tipoc: #1D293F;
    --bg-cta: #fff;
    --color-cta:#5454D4;
    --color-item: #696871;
    
}

.tipo__element--best{
    width: 300px;
    padding: 30px 30px;
    background-color: #e7e29e;
    --color-plan: #66647a;
    --color-tipoc: #1D293F;
    --bg-cta: #FFF;
    --color-cta: #FFF;
    --color-items: #62616e;
}

.taxist{
    background-color: #e7e29e;
    
}

.taxist__container{
    display: grid;
    grid-template-columns: 100px 1fr 50px;
    gap: 2em;
    align-items: center;
    
}

.taxist__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}


.taxist__body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.taxist__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.taxist__texts{
    max-width: 600px;

}

.taxist__course{
    background-color: #e7e29e;
    color: #141313;
    display: inline-block;
    padding: 5px;
}

.taxist__arrowr{
    width: 90%;
    cursor: pointer;
}

.taxist__arrowl{
    width: 45%;
    cursor: pointer;
    padding-top: 20px;
}

.plan__name{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300px;

}

.plan__price{
    font-size: 2rem;
    color: var(--color-tipoc);

}

.plan__items{
    display: grid;
    font-weight: 300;
    font-size: 1.1rem;
    margin-bottom: 30px;
    color: var(--color-item);
    
}

.plan__cta{

    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

.testimony{
    background-color: #e5e5f7;
}

.testimony__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.testimony__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}


.testimony__body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.testimony__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.testimony__texts{
    max-width: 700px;
}

.testimony__course{
    color: #000000;
    display: inline-block;
    padding: 5px;
}

.testimony__arrowr{
    width: 90%;
    cursor: pointer;
}

.testimony__arrowl{
    width: 90%;
    cursor: pointer;
    padding-top: 20px;
}

.questions{
    text-align: center;
}

.questions__container{
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
}

.questions__padding{
    padding: 0;
    transition: padding .2s;
    border: 1px solid #0b0b0c;
    border-radius: 6px;
}

.questions__padding--add{
    padding-bottom: 10px;
}

.questions__answer{
    padding: 0 30px 0;
    overflow: hidden;
}

.questions__title{
    display: flex;
    font-size: 20px;
    padding: 30px 30px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
}

.questions__arrow{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    transition: transform.3s ;

}

.questions__arrow--rotate{
    transform: rotate(180deg);
}

.question__show{
    text-align: left;
    height: 0;
    transition: height .3s;

}

.questions__img{
    display: block;
}


.footer{
    background-color: rgba(229, 205, 76, 1);
}

.footer__title{
    font-weight: 200;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer__title, .footer__newsletter{
    color: #000000;
}


.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
    padding-bottom: 40px;
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav__link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer__inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer__input{
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer__submit{
    margin-left: auto;
    display: inline-block;
    height: 20px;
    padding: 0 20px ;
    background-color: #92bbe2;
    border: none;
    font-size: 1rem;
    color: #000000;
    border-radius: 6px;
    cursor: pointer;
}

.questions__cta{
    display: inline-block;
    background-color: #303030;
    justify-self: center;
    color: #ffff;
    text-decoration: none;
    padding: 15px 15px;
    border-radius: 32px; 
    margin-bottom: 20px;
}

.footer__copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #000000;
}

.footer__copyright{
    font-weight: 300;
}

.footer__icons{
    margin-bottom: 10px;
}

.footer__img{
    width: 30px;
}

.nav__linksf{
    text-decoration: none;
    color: #000000;
    font-size: 17px;
}







