* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v41_486 {
  width: 100%;
  height: 1024px;
  background: rgba(229,204,76,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v67_294 {
  width: 100%;
  height: 288px;
  background: url("../images/v67_294.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 736px;
  left: 0px;
  overflow: hidden;
}
.v41_533 {
  width: 487px;
  height: 572px;
  background: url("../images/v41_533.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 226px;
  left: 477px;
  overflow: hidden;
}
.v41_519 {
  width: 487px;
  height: 572px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v41_520 {
  width: 427px;
  height: 78px;
  background: url("../images/v41_520.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 344px;
  left: 32px;
  overflow: hidden;
}
.v41_521 {
  width: 427px;
  height: 78px;
  background: rgba(215,215,215,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(239,239,244,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v41_522 {
  width: 130px;
  color: rgba(200,199,204,1);
  position: absolute;
  top: 28px;
  left: 9px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v41_523 {
  width: 147px;
  color: rgba(200,199,204,1);
  position: absolute;
  top: 53px;
  left: 40px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v41_524 {
  width: 215px;
  color: rgba(38,38,40,1);
  position: absolute;
  top: 53px;
  left: 248px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v41_525 {
  width: 52px;
  height: 8px;
  background: rgba(229,205,76,1);
  opacity: 1;
  position: absolute;
  top: 119px;
  left: 330px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v41_526 {
  width: 487px;
  height: 5px;
  background: rgba(215,215,215,1);
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 0px;
  border: 1px solid rgba(239,239,244,1);
}
.v41_527 {
  width: 427px;
  height: 78px;
  background: url("../images/v41_527.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 32px;
  overflow: hidden;
}
.v41_528 {
  width: 427px;
  height: 78px;
  background: rgba(215,215,215,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(239,239,244,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v41_529 {
  width: 90px;
  color: rgba(200,199,204,1);
  position: absolute;
  top: 27px;
  left: 9px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v41_530 {
  width: 427px;
  height: 78px;
  background: url("../images/v41_530.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 464px;
  left: 32px;
  overflow: hidden;
}
.v41_531 {
  width: 427px;
  height: 78px;
  background: rgba(229,205,76,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v41_532 {
  width: 93px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 22px;
  left: 166px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
